
h1{
    color: green;
    text-align: center;
    
}
h1, h2{
    color: green;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.center {
    color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}
p {
    padding: 20px;
}
  #bold {
      font-weight: bold;
  }
/* .favorite {
    color: red;
    font-weight: bold;
} */
/* 
.favorite > a {
    color: red;
    
} */